@keyframes borderAnimation {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 0% 200%;
    }
  }
  
  .animated-border {
    position: relative;
    border: 2px solid transparent;
    background: linear-gradient(white, white) padding-box,
                linear-gradient(to top, #0957D0, transparent) border-box;
    background-size: 100% 200%;
    animation: borderAnimation 5s linear infinite;
    border-radius: 1rem; 
  }
  
  .animated-border:hover {
    animation: borderAnimation 3s linear infinite;
  }
  
 